/* styles.css*/

/* * {
    border: 5px red solid;
} */

body {
    font-family: 'Helvetica', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center; 
    border-bottom: 20px blue solid;   
}

h2 {
    text-align: left; 
    border-bottom: 10px solid rgb(0, 255, 64);  
}


h3 {
    border-bottom: 2px solid rgb(0, 255, 0);
 
}

